{% extends 'layout.html' %}

{% block list %}active{% endblock %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <form action="" method="get">
                <th scope="col">Check</th>
                <th scope="col">Word</th>
                <th scope="col">Meaning</th>
                <th scope="col">Count</th>

                {% for word in word_list %}
                <tr>
                    <td>
                        <input type="checkbox" name="{{ word.word }}">
                    </td>
                    <td>{{ word.word }} 
                        {% if word.count == 0 %}
                        <span class="badge badge-warning">Memorization</span>
                        {% endif %}
                    </td>

                    <td>{{ word.meaning }}</td>
                    <td>{{ word.count }}</td>
                </tr> 
                {% endfor %}
                <p><input type="submit" class="btn btn-primary" value="외웠어!" /></p>
            </form>
        </table>
    </div>
</div>
{% endblock %}
