{% extends 'layout.html' %}

{% block list %}active{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <form action="" method="get">
            <table class="table">
                <th scope="col">Check</th>
                <th scope="col">Word</th>
                <th scope="col">Meaning</th>
                <th scope="col">Count</th>

                {% for word in word_list %}
                <tr>
                    <td><input type="checkbox" name="{{ word.word }}"></td>
                    <td>{{ word.word }} 
                        {% if word.count == 0 %}
                        <span class="badge badge-warning">Memorization</span>
                        {% endif %}
                    </td>

                    <td>{{ word.meaning }}</td>
                    <td>{{ word.count }}</td>
                </tr> 
                {%  endfor %}
            </table>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>
{% endblock %}
